.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  min-height: 50px;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
a {
  color: #c4b094;
  text-decoration: none;
}
a:hover {
  color: #ae9878;
  transition: all 0.1s;
}
.header a {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.header .active,
.header a:hover {
  color: #ae9878;
  border-bottom: 2px solid #c4b094;
  padding-bottom: 4px;
  transition: all 0.1s;
}
.about {
  margin-top: 40px;
  animation: fadein 1.25s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about strong {
  color: #59504d;
  font-size: 20px;
  display: block;
  text-align: center;
}
.about small {
  font-size: 14px;
  display: block;
  text-align: center;
}
.about .photo {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.mediaLinks {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  width: 40%;
}

.mediaLinks a {
  font-size: 18px;
}

.about h2 {
  margin-top: 40px;
  font-size: 36px;
  color: #59504d;
  margin-bottom: 20px;
}
p {
  margin-bottom: 5px;
}
.about p {
  font-size: 18px;
  text-align: left;
}
.knowlodges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.knowlodgesContainer {
  text-align: center;
  transition: transform 0.2s;
}

.knowlodges img {
  display: block;
  margin: auto;
  width: 200px;
  height: 150px;

  margin: 40px auto 20px auto;
}
.knowlodges h3 {
  color: #ae9878;
  font-size: 22px;
  font-weight: 600;
}
.knowlodges small {
  display: block;
  font-weight: 300;
  color: #59504d;
}
footer {
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 500px) {
  .knowlodges {
    grid-template-columns: repeat(1, 1fr);
  }
}
