
a {
  color: #c4b094;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 30px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  animation: fadein 1.25s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.userInfo {
  grid-area: userInfo;
}

.photo {
  grid-area: photo;
}

.about {
  grid-area: about;
}

.workExps {
  grid-area: workExps;
}
.education {
  grid-area: education;
}

.knowlodges {
  grid-area: knowlodges;
}
.courses {
  grid-area: courses;
}
.container {
  grid-template-areas:
    "userInfo photo"
    "workExps knowlodges"
    "education knowlodges"
    "courses courses";
}
.about strong {
  display: none;
}
.workExps,
.knowlodges {
  margin-top: 10px;
}
.container h2 {
  color: #59504d;
  margin-bottom: 20px;
}
.userInfo strong {
  font-size: 18px;
}
.userInfo span {
  display: block;
  font-size: 16px;
}
.userInfo small {
  font-size: 14px;
}

.userInfo .mediaLinks {
  margin-top: 10px;
}
.userInfo .mediaLinks a {
  margin-left: 5px;
}
.photo img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.company,
.institution {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 15px;
  margin-bottom: 20px;
}
.company img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0p rgba(0, 0, 0, 0.15);
}
.company strong {
  font-size: 18px;
  display: block;
}
.company p {
  font-size: 14px;
  margin-bottom: 5px;
}
.company small {
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}
.institution img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.institution strong {
  font-size: 18px;
  display: block;
}
.institution p {
  font-size: 14px;
  margin-bottom: 5px;
}
.institution small {
  font-weight: 600;
}

.knowlodges p {
  border-bottom: 1px solid #e9eae6;
  padding: 8px 0 8px 0;
}
.courses h2 {
  color: #59504d;
  margin-bottom: 20px;
  text-align: center;
}
.coursesGrid {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.courseItem {
  text-align: center;
  margin-top: 40px;
}
.courseItem img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.courseItem strong {
  font-size: 18px;
  display: block;
}
.courseItem span {
  font-size: 14px;
  display: block;
}
.courseItem small {
  font-weight: 600;
}
footer {
  text-align: center;
}

@media (max-width: 800px) {
  .container {
    grid-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo"
      "about"
      "userInfo"
      "workExps"
      "education"
      "knowlodges"
      "courses";
  }

  .userInfo h2 {
    display: none;
  }
  .about strong {
    font-size: 22px;
    color: #ae9878;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  .mediaLinks {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .container .userInfo,
  .photo,
  .about {
    align-self: center;
    justify-self: center;
  }

  .workExps,
  .education,
  .knowlodges {
    margin-top: 40px;
  }

  .coursesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
